doctype html 
html 
  include includes/head.pug

  body  
    <!-- carousel header -->
    include includes/header.pug

    <!-- navbar -->
    <nav class="navbar navbar-expand-sm ">
      <button class="navbar-toggler mx-auto m-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="Start">Start</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="Team">Team</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="Technik">Technik</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="Umgebung">Umgebung</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="Todos">ToDo's</a>
          </li> 
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="MoreToDos">MoreToDo's</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="EmergencyAndProcedure">Emergency & Procedure</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="More">More</a>
          </li>
          </ul>
      </div>
    </nav>

  
  <!-- Main Content Page -->
    <div class="container-fluid p-2">
        <div class="container-fluid border rounded text-center p-2 justify-content-center">  
                <div class="container">
                    table(class='table w-auto h-auto') 
                        thead 
                            tr  
                                th ID
                                th Name
                                th 
                                th
                                 
                        tbody   
                            each question in emergencyFlightModelResReduced
                                tr
                                    td #{question.id}
                                    
                                    td  
                                        <form action="/action_page.php">
                                            <input type="text" name="name" value=#{question.name}>
                                            <button class="btn"><i class="fa fa-pen"></i> Edit</button> 
                                                
                                        </form> 
                                    td 
                                        <a ref="/admin/delete/$#{question.mongo_id}"> <button class="btn"><i class="fa fa-trash"></i> Edit</button></a>
                                    
                            tr  
                                td  
                                    <form action="/action_page.php">
                                        <input type="text" name="name" value="new value">
                                        button 
                                            <input type="submit" value="edit">
                                    </form> 
                            
                                        

                                        
                                        
                </div>
        </div>
    </div>


    