doctype html 
html 
  include includes/head.pug
  <title>foo</title>

  body  
    <!-- carousel header -->
    include includes/header.pug

    <!-- navbar -->
    <nav class="navbar navbar-expand-sm ">
      <button class="navbar-toggler mx-auto m-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold active" href="Start">Start</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="Team">Team</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="Technik">Technik</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="Umgebung">Umgebung</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="Todos">ToDo's</a>
          </li> 
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="MoreToDos">MoreToDo's</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="EmergencyAndProcedure">Emergency & Procedure</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="More">More</a>
          </li>
          </ul>
      </div>
    </nav>

    <div class="container-fluid p-2">
        <div class="container-fluid border rounded text-center p-2">  
            <h1><b>DRF Crewbriefing</b></h1>
            <h1><b>Station Rendsburg Schachtholm - Christoph 42</b></h1>
            <br>
            <h2><span id="time"></span> Uhr</h2>
            <h2>Sonnenaufgang: <span id="sunrise"></span> Uhr | Sonnenuntergang: <span id="sunset"></span> Uhr</h2>
        </div>
    </div>
    



    <script src="main.js"></script>