doctype html 
html 
  include includes/head.pug

  body  
    // carousel header
    include includes/header.pug

    // navbar
    <nav class="navbar navbar-expand-sm ">
      <button class="navbar-toggler mx-auto m-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse text-center navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="pIndex">Start</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="pTeam">Team</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="pTechnik">Technik</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold active" href="pUmgebung">Umgebung</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="pTodos">ToDo's</a>
          </li> 
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="pMoreToDos">MoreToDo's</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="pEmergencyAndProcedure">Emergency & Procedure</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link fw-bold" href="pMore">More</a>
          </li>
          </ul>
      </div>
    </nav>

    <!-- Main Content Page -->
    
    <div class="container-fluid p-2">
        <div class="container-fluid border rounded text-center p-2">
            <h2> <b><span id="time"></span> Uhr</b></h2>
            <h2> <b>Sonnenaufgang: <span id="sunrise"></span> Uhr | Sonnenuntergang: <span id="sunset"></span> Uhr</b> </h2>
            <br>
            <h2> <a target="_blank" class = "link-dark" href="https://www.flugwetter.de">Flugwetter</a> </h2>
            <h2> <a target="_blank" class = "link-dark" href="https://www.deutscher-wetterdienst.de/gsb/heliportal/gafor/index.html">Deutscher Wetterdienst Heliportal</a> </h2>
            <h2> <a target="_blank" class = "link-dark" href="https://www.windy.com/EDXR?54.220,8.500,8">WINDY.com</a> </h2>
            <h2> <a target="_blank" class = "link-dark" href="https://notaminfo.com/localarea">NOTAM Info</a> </h2>
            <h2> <a target="_blank" class = "link-dark" href="https://notaminfo.com/localarea">DFS Nachttiefflugsystem</a> </h2>
        </div>
    </div>


    <script src="main.js"></script>